name: chord_diagram_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.13
  - pandas
  - numpy
  - matplotlib
  - scipy
  - pip
  - pip:
      - biopython==1.86
      - pycirclize==1.10.1